@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    margin-block: 4vh;
    width: 80vw;
    margin-inline: auto;
}
body{
    width: 100vw;
}

/* ---------------- navbar styling --------------*/
.navbar{
    width: 100vw;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 500;

    box-sizing: border-box;
    padding-inline-end: 2%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #f2f2f2;

    background-color: white;

}
.nav_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo_container{
    height: 100%;
    margin-inline: 2%;
    display:flex;
    justify-items: center;
    align-items: center;
}
.vertical_line{
    height: 100%;
    border-left: 1px solid #f2f2f2;
}
.delivery_details_container{
    width: 230px;
    box-sizing: border-box;
    padding-inline: 4%;
    display: flex;
    justify-content: left;
}
.inner_container{
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    /* width: 90%; */
}
.delivery_eta{
    font-size:16px;
    margin-block: 5px;
}
.delivery_location_container{ 
    display: flex;
    justify-content: left;
    align-items: center;
}
.delivery_location{
    font-size: 11px;
    font-weight: 100;
    width: 120px;
}

.search_bar_container{
    width: 40%;
    height: 50%;
    background-color: #f8f8f8;
    border-radius: 8px;
    border: 0.5px solid #f0f0f0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    box-sizing: border-box;

    padding-inline-start: 5px;
}
.search_bar{
    width: 93%;
    background: transparent;
    outline: none;
    border: none;
}


.nav_right {
    width: 16vw;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login_button{
    height: fit-content;
    border: none;
    background: transparent;
    color: #363636;
    font-size: 18px;
    font-weight: 100;
    margin-right: 5px;
}
.cart_button{
    padding-inline: 3%;
    padding-block: 4%;
    background-color: #0c831f;
    color: white;

    display: flex;

    border-radius: 5px;
    border: none;
    white-space: nowrap;
}
.cart_button > i{
    margin-right: 02px;
}

/* ---------paan corner styling---------- */
.section_1{
    width: 82vw;
}
.section_1 > img{
    width: 100%;
    object-fit: cover;
}

/* -------horizontal scroll section----------- */
.section_2{
    width: 80vw;
    box-sizing: border-box;
    /* padding-inline: 5%; */
}
.scroll_list{
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
}
.scroll_list::-webkit-scrollbar{
    display: none;
}
.scroll_list > img{
    width: 30%;
    object-fit: cover;
    display: inline-block;
    padding-inline: 1%;
}

/* ------------categories------------ */
.categories_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.categories_container > img{
    width: 10%;
}


/* ----------------dairy, bread and eggs---------------------- */
.heading_section_4{
    padding-left: 16px;
    padding-block: 16px;
}
.section_4 > .scroll_list{
    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow-x: scroll;
}
.section_4 > .scroll_list::-webkit-scrollbar{
    display: none;
}
.dairy_card{
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
    /* box-shadow: 0.2px 0.2px 15px rgba(128, 128, 128, 0.416); */

    width: 220px !important;
    height: 230px;

    /* height: 30vh; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;

    white-space: wrap;
    margin-inline: 15px;

    box-sizing: border-box;
}
.card_image_container{
    width: 150px;
    /* height: 60%; */

    /* border-radius: 10px; */
    border: none;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.card_image_container > img{
    height: 120px;
    /* display: inline-block;
    margin-block-start: 14px;
    margin-inline: auto; */
}
.card_details_container{
    padding-inline: 5%;
}

.title{
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */

    overflow: hidden;
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.quantity{
    font-size: small;
}
.card_footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-block: 5px;
}
.card_footer > p{
    width: 25px;
    font-size: smaller;
    font-weight: 600;
}
.card_footer > button {
    padding-block: 6px;
    padding-inline: 20px;
    border: 1px solid #0c831f;
    border-radius: 6px;
    color: #0c831f;

    background-color: rgb(247, 255, 249);
}


/* credits */
.credits{
    margin-block: 20vh;
    display: flex;
    justify-content: center;
}
.credits > p > i {
    color: red;
}

/* -----------------media queries--------------------------- */

@media screen and (max-width: 860px) {
    .navbar{
        display: grid;
        height: 20vh;
        grid-template-columns: 1fr 7fr 1fr 3fr .8fr;
        grid-template-rows: 10vh 10vh;
    }
    .nav_left{
        grid-column: 2/4;

        grid-row: 1
    }
    .nav_right{
        grid-row: 1;
        grid-column: 4;
        margin-right: 0px;
        margin-left: 10vw;
        width: 20vw;
        /* min-width: fit-content; */
    }
    .search_bar_container{
       grid-row: 2;
       grid-column: 2/5;
       width: 100%;

    }
}
@media screen and (max-width: 620px) {
    .nav{
        grid-template-columns: 1fr 9fr 1fr 2fr 0.8fr;
    }
    .nav_left{
        grid-column: 1/4;
    }
    .nav_right{
        grid-column: 4/-1;
        margin-right: 4%;
        margin-left: auto;
        width: auto;
    }
}

@media screen and (max-width: 520px) {
    .nav_right{
        margin-inline: auto;
        gap: 5px;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 480px) {
    .delivery_details_container{
        width: 150px;
    }
    .inner_container{
        width: 100%;
    }
    .delivery_eta{
        font-size: 14px;
    }
    .delivery_location{
        font-size: 10px;
        width: fit-content;
    }
    
}
@media screen and (max-width: 390px) {
    .logo_container > a > svg {
        width: 80px;
    }
    .login_button{
        font-size: 15px;
    }
    .delivery_eta{
        font-size: 12px;
    }
    .delivery_location{
        font-size: 8px;
    }
    .cart_button{
        font-size: 12px;
    }
}
@media screen and (max-width: 320px) {
    .navbar{
        grid-template-columns: 3fr 1fr;
    }
    .nav_left{
        grid-column: 1/3;
        margin-bottom: 10px;
    }
    .delivery_details_container{
        width: 60%;        
    }
    .delivery_eta{
        font-size: 15px;
    }
    .delivery_location{
        font-size: 12px;
        margin-top: 0;
    }
    .nav_right{
        grid-row: 2;
        grid-column: 2;
    }
    .search_bar_container{
        grid-column: 1/2;
        width: 80%;
        margin-inline: auto;
    }
}


